# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building Tomcat
# for your local environment.  It defines the location of all external
# modules that Tomcat depends on.  Copy this file to "build.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id: build.properties.sample,v 1.7 2001/09/16 04:58:28 craigmcc Exp $
# -----------------------------------------------------------------------------


# ----- Compile Control Flags -----
compile.debug=on
compile.deprecation=off
compile.optimize=on


# ----- Default Base Path for Dependent Packages -----
base.path=/usr/local


# ----- Jakarta Regular Expressions Library, version 1.2 -----
regexp.home=${base.path}/jakarta-regexp-1.2
regexp.lib=${regexp.home}
regexp.jar=${regexp.home}/jakarta-regexp-1.2.jar


# ----- Jakarta Servlet API Classes (Servlet 2.3 / JSP 1.2) -----
servlet.home=${base.path}/jakarta-servletapi-4/
servlet.lib=${servlet.home}/lib
servlet.jar=${servlet.lib}/servlet.jar


# ----- Java Activation Framework (JAF), version 1.0.1 or later -----
activation.home=${base.path}/jaf-1.0.1
activation.lib=${activation.home}
activation.jar=${activation.lib}/activation.jar


# ----- Java API for XML Processing (JAXP), version 1.1 or later -----
jaxp.home=${base.path}/jaxp-1.1
jaxp.lib=${jaxp.home}
crimson.jar=${jaxp.lib}/crimson.jar
jaxp.jar=${jaxp.lib}/jaxp.jar
xalan.jar=${jaxp.lib}/xalan.jar


# ----- Java Database Connectivity (JDBC) Optional Package, version 2.0 -----
jdbc20ext.home=${base.path}/jdbc2_0-stdext
jdbc20ext.lib=${jdbc20ext.home}
jdbc20ext.jar=${jdbc20ext.lib}/jdbc2_0-stdext.jar


# ----- Java Mail, version 1.2 or later -----
mail.home=${base.path}/javamail-1.2
mail.lib=${mail.home}
mail.jar=${mail.lib}/mail.jar


# ----- Java Management Extensions (JMX) RI, version 1.0.1 or later -----
jmx.home=${base.path}/jmx-ri_1.0.1/jmx
jmx.lib=${jmx.home}/lib
jmxri.jar=${jmx.lib}/jmxri.jar


# ----- Java Naming and Directory Interface (JNDI), version 1.2 or later -----
jndi.home=${base.path}/jndi_1.2.1
jndi.lib=${jndi.home}/lib
jndi.jar=${jndi.lib}/jndi.jar
ldap.jar=${jndi.lib}/ldap.jar


# ----- Java Secure Sockets Extension (JSSE), version 1.0.2 or later -----
jsse.home=${base.path}/jsse1.0.2
jsse.lib=${jsse.home}/lib
jcert.jar=${jsse.lib}/jcert.jar
jnet.jar=${jsse.lib}/jnet.jar
jsse.jar=${jsse.lib}/jsse.jar


# ----- Java Transaction API (JTA), version 1.0.1 or later -----
jta.home=${base.path}/jta-spec1_0_1
jta.lib=${jta.home}
jta.jar=${jta.lib}/jta-spec1_0_1.jar


# ----- JUnit Unit Test Suite, version 3.7 or later -----
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar


# ----- Tyrex Data Source, version 0.9.7 -----
tyrex.home=${base.path}/tyrex-0.9.7.0
tyrex.lib=${tyrex.home}
tyrex.jar=${tyrex.lib}/tyrex-0.9.7.0.jar
