/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

FILE_NEW                BITMAP  DISCARDABLE     "bitmap1.bmp"
FILE_OPEN               BITMAP  DISCARDABLE     "file_new.bmp"
FILE_SAVE               BITMAP  DISCARDABLE     "bmp00001.bmp"
