<?xml version="1.0"?>
#set($name = $parameters.getParameter("name", ""))
#set($project = $parameters.getParameter("project", ""))
<page>
 <title>Hello</title>
 <content>
  <para>This is my first Cocoon2 page!</para>
  <para>Hi!  This page is generated using $name from the $project project.</para>
 </content>
</page>
