<?xml version="1.0"?>

<!DOCTYPE menu [
<!ELEMENT menu (item|group)*>
<!ELEMENT group (item)*>
<!ATTLIST group link  CDATA #REQUIRED
                title CDATA #REQUIRED>
<!ELEMENT item EMPTY>
<!ATTLIST item link  CDATA #REQUIRED
               title CDATA #REQUIRED>
]>

<menu>
  <group link="home.html" title="search">
    <item link="search-dept.html" title="find department"/>
    <item link="search-empl.html" title="find employee"/>
  </group>
  <item link="create-dept.html" title="new department"/>
  <item link="create-empl.html" title="new employee"/>
</menu>
