//components.rc

DefaultComponentImage	BITMAP		"defaultComponent.bmp"
checkBox				BITMAP		"checkBox.bmp"
ComboBox				BITMAP		"ComboBox.bmp"
commandButton			BITMAP		"commandButton.bmp"
groupPanel				BITMAP		"groupPanel.bmp"
label					BITMAP		"label.bmp"
listBox					BITMAP		"listBox.bmp"
menu					BITMAP		"menu.bmp"
panel					BITMAP		"panel.bmp"
popup					BITMAP		"popup.bmp"
radioButton				BITMAP		"radioButton.bmp"
richTextControl			BITMAP		"richTextControl.bmp"
TextControl				BITMAP		"TextControl.bmp"
form					BITMAP		"form.bmp"
formFolder				BITMAP		"formFolder.bmp"
formMember				BITMAP		"formMember.bmp"
class					BITMAP		"class.bmp"
classFolder				BITMAP		"classFolder.bmp"
member					BITMAP		"member.bmp"
project					BITMAP		"project.bmp"