/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP1             BITMAP  DISCARDABLE     "bitmap1.bmp"

STRING1					RCDATA					{ "Hello World from a resource String\0" }
