BODY
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 3px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 3px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: 'Microsoft Sans Serif', Tahoma, Arial;
    BACKGROUND-COLOR: white
}
TD
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: 'Microsoft Sans Serif', Tahoma, Arial
}
A:link
{
    COLOR: mediumblue
}
A:visited
{
    COLOR: darkblue
}
A:active
{
    COLOR: mediumblue
}
A:hover
{
    COLOR: mediumblue;
    BACKGROUND-COLOR: moccasin;
    TEXT-DECORATION: none
}
TD.TDlargefont
{
    FONT-SIZE: 14pt;
    COLOR: black
}
PRE
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: 'Courier New';
    BACKGROUND-COLOR: #e5e5e5
}
.SmallFontTOC
{
    FONT-SIZE: 7pt
}
H4
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: 'Microsoft Sans Serif', Tahoma, Arial
}
H5
{
    FONT-SIZE: 11pt
}
.SmallFontREF
{
    FONT-SIZE: 7pt
}
TD.TDSmallerfont
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: 'Microsoft Sans Serif', Tahoma, Arial
}
