body,td {
  font-family: Helvetica, helv, Arial, sans-serif;
  font-style: normal;
  color: #000000;
}
h1 {
  font-family: Helvetica, helv, Arial, sans-serif;
  font-style: 20pt;
  color: navy;
  text-align: center;
}
h2 {
  font-family: Helvetica, helv, Arial, sans-serif;
  font-style: 18pt;
  color: black;
}
.h3 {
  font-family: Helvetica, helv, Arial, sans-serif;
  font-style: 16pt;
  font-weight: bold;
  color: black;
  text-align: center;
}
