#main {
        border: none;
        font-size: 20pt;
        line-height: 24pt;
        font-family: Helvetica;
        font-variant: normal;
        font-style: normal;
        font-stretch: normal;
        font-size-adjust: none
        padding: 0.5em 0.5em 0.5em 0.5em
}

P {
        font-family: Helvetica;
        font-size: 16pt;
        padding: 10px 10px 10px 10px;
        margin: 10px 20px 10px 20px;
}

P.quote {
        font-family: Helvetica;
        font-size: 16pt;
        font-style: italic;
}

PRE {
        font-family: Monospace;
        font-size: 14pt;
        padding: 0px 0px 0px 50px;
}

H1 {
        font-family: Helvetica;
        font-size: 34pt;
        line-height: 36pt;
        text-align: center;
        padding: 30px 10px 10px 10px;
}

H3 {
        font-family: Helvetica;
        font-size: 20pt;
        line-height: 24pt;
        text-align: center;
        font-weight: lighter;
        font-style: normal
}

UL {
        font-family: Helvetica;
        font-size: 20pt;
        line-height: 35pt;
        margin: 30px 100px 30px 50px;
}

A:link { color: #0000A0 }
A:visited { color: #A00000 }
A:active { color: #00A000 }
